body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", Avenir";
	font-weight: normal;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.4s;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
}

.container {
	margin: 0 auto;
	padding-top: 50px;
	max-width: 600px;
}

h1 {
	background-color: steelblue;
	color: white;
	line-height: 1.1;
	padding: 20px;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
}

#colorDisplay {
	font-size: 200%;
}

#message {
	display: inline-block;
	width: 20%;
	text-transform: uppercase;
	font-weight: bold;
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
}

.selected {
	color: white;
	background: steelblue;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.2s;
	--webkit-transition: all 0.2s;
	--moz-transition: all 0.2s;
}

button:hover {
	color: white;
	background: steelblue;
}
